# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Datos sensibles
.env
*.pkl
*.joblib

# Logs
logs/
*.log

# Dataset (opcional)
data/dataset_instagram_unmsm.csv

# Railway
.railway/

# Sistema
.DS_Store
Thumbs.db
